extends layout

block content
    div(class="container expand")
        aside(class="list expand")
            section(class="list-header")
                i(class="far fa-sticky-note")
                a(href="/notes/new") New Note
            section
                each note in notes
                    article
                        a(href="/notes/" + note._id class="note" + (currentNote && currentNote._id.equals(note._id) ? " active" : ""))
                            p(class="note-title")= note.title
                            p(class="note-body")= note.truncateBody()
        main(class="body")
            block body