extends layout

block content
    form(action='/notes', method='post')
        section
            p 
                label(for='title') Titulo
            input(type="text" id='title' name='title')
        section
            p
                label(for="body") Texto
            textarea(name="body", cols="30", rows="10" id='body' placeholder='Escriba algo') 
        button.btn.btn-primary(type='submit') Submit 